*.qdb
*.qtl
*.qpg
plasma_PDP/sim/runsim.do
plasma_PDP/sim/output.txt
*.wlf
plasma_PDP/sim/work/_info
*.bak
*.csv#
*.qdb
*.back
*.bit
*.xreport
*.bld
*.ncd
*.vhd
*.txt
plasma_PDP/sim/output.txt
*.qdb
plasma_PDP/sim/grlib/_info
*.vho
*.ref
*.xbcd
*.xml
*.xrpt
*.prj
*.html
*.ngm
*.ncd
*.mrp
*.map
*.xwbt
*.xpi
*.unroutes
*.twx
*.twr
*.tsi
*.syr
*.ptwx
*.pcf
*.par
*.pad
*.ngr
*.ngd
*.ngc
*.drc
*.cmd_log
*.bgn
*.gise
*.projectmgr
*.xmsgs
*.lst
